body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
p{
    line-height: 1;
}

.navbar{
    padding: 20px 10%;
   z-index: 999;
}

.nav-link{
    border-bottom: 4px solid transparent;

    &:hover,:focus,:active{
        text-align:center;
        border-bottom: 4px solid transparent;
        border-image: linear-gradient(0.25turn, $primary-green , $primary-light-blue);
        border-image-slice: 1;
        width:100%;
    }
    
}


.bg-light{
   background-color:$neutral-white !important;
}

.btn-primary{
    border-radius: 50px;
    background-image: linear-gradient(to right, $primary-green , $primary-light-blue);
    border-color: transparent;
     &:hover,&:focus,&:active{
        border-color: $primary-light-blue;
     }
}
