//  Primary

$primary-blue: #2D314D;
$primary-green: #31D35C;
$primary-light-blue: #2BB7DA;

// Neutral

$neutral-blue: #9698A6;
$neutral-light-blue: #F3F4F6;
$neutral-gray:#FAFAFA;
$neutral-white:#FFFFFF;
// gradient

$primary-gradient:linear-gradient(to right, $primary-green , $primary-light-blue);  